<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>AllowEmptyCollection</Title>
			<Shortcut>AllowEmptyCollection</Shortcut>
			<Description>Permits the value of an array parameter to be an empty collection e.g. @()</Description>
			<Author>SAPIEN Technologies, Inc.</Author>
			<HelpUrl>http://msdn.microsoft.com/en-us/library/system.management.automation.allowemptycollectionattribute(v=vs.85).aspx</HelpUrl>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="PowerShell">
				<![CDATA[[AllowEmptyCollection()]]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>