<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Should_BeGreaterThan</Title>
			<Shortcut>ShouldBeGreaterThan</Shortcut>
			<Author>SAPIEN Technologies, Inc</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="PowerShell">
				<![CDATA[Should BeGreaterThan]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>